<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-6 offset-2"> <br>
    <h3>Edit Your Listing</h3> <br>
    <form method="post" action="/listings/<%= listing._id%>?_method=PUT">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control">
        </div>
        
        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]"type="text" class="form-control"><%= listing.description %></textarea>
        </div>
        

        <div class="mb-3">
         <label for="image" class="form-label">Image Link</label>
         <input name="listing[image]" class="form-control"  value="<%= listing.image %> ">
        </div>

        <div class="row">
        <div class="mb-3 col-md-3">
         <label for="price" class="form-label">Price</label>
         <input name="listing[price]" class="form-control"  type="number" value="<%= listing.price %>">
        </div>
        
        <div class="mb-3 col-md-5">
         <label for="country" class="form-label">Country</label>
         <input type="text" name="listing[country]" class="form-control" value="<%= listing.country %>">
        </div>
        </div>


        <div class="mb-3">
         <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]"  class="form-control"  value="<%= listing.location %>">
        </div>
        <button class="btn btn-dark edit-btn mt-1">Edit</button>
    </form>
    </div>
</div>
